body{
    background-color: blue;
}
header{
    background-color: blue;
    height: 17%;
    width: 100%;
    position: fixed;
    left: 0%;
    top: 0%;
}
.logo{
    margin-left: 1%;
}
.logo img{
    height:auto;
    width: 14vw;
}
center{
    color: white;
    font-size: 100%;
}
.ofertas{
    border: 1px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    padding-top: 1.5%;
    position: fixed;
    width: 15%;
    background-color: #308492;
    top: 5%;
    left: 20%;
    height: 5%;
    
}
.ofertas:hover{
    background-color:midnightblue;
}
.historial{
    padding-top: 1.5%;
    position: fixed;
    width: 15%;
    background-color: #308492;
    top: 5%;
    left: 40%;
    height: 5%;
    border: 1px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}
.historial:hover{
    background-color:midnightblue;
}
.ayuda{
    padding-top: 1.5%;
    position: fixed;
    width: 15%;
    background-color: #308492;
    top: 5%;
    left: 60%;
    height: 5%;
    border: 1px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}
.ayuda:hover{
    background-color:midnightblue;
}
.buscar{
    padding-top: 1.5%;
    position: fixed;
    width: 15%;
    background-color: #308492;
    top: 5%;
    left: 80%;
    height: 5%;
    border: 1px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}
.buscar:hover{
    background-color:midnightblue;
}
input{
    width: 50%;
}
.first{
    width: 100%;
    border: 1px solid black;
}
.login{
    padding-top: 0.5%;
    margin-top: 1%;
    background-color: #308492;
    position: absolute;
    width: 25%;
    top: 17.5%;
    left: 12.5%;
    height: 3%;
    border: 1px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}
.signin{
    padding-top: 0.5%;
    margin-top: 1%;
    background-color: #308492;
    position: absolute;
    top: 17.5%;
    width: 25%;
    right: 12.5%;
    height: 3%;
    border: 1px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}
.cuerpo{
    width: 99%;
    height: 64%;
    top: 25%;
    position: absolute; 
    border: 1px solid black;
}
.publi{
    position: absolute;
    width: 25%;
    border: 1px solid black;
    height: 97%;
    margin: 0.5%;
}
.busquedaR{
    position: absolute;
    width: 45%;
    height: 97%;
    border: 1px solid black;
    left: 26%;
    margin: 0.5%;
}
.busquedaR img{
    top: 0;
    height: 100%;
    width: 100%;
}
.busquedarapida{
    position: absolute;
    top: 10%;
    left: 5%;
    height: 15%;
    width: 75%%
}

.white{
    background-color: white;
}
.busquedarapida img{
    width: 25%;
    height: 50%;
}
.BotonB{
    position: absolute;
    left: 55%;
    font-size: 2vw;
}
.news{
    position: absolute;
    width: 27%;
    left: 72%;
    border: 1px solid black;
    margin: 0.5%;
    height: 69.5%;
}
.chat{
    position: absolute;
    width: 27%;
    left: 72%;
    border: 1px solid black;
    margin: 0.5%;
    height: 26%;
    top: 71%;
}
footer{
    background-color: #42BDD1;
    height: 10%;
    bottom: 0%; 
    position: fixed;
    width: 100%;
    left: 0%;
}
.pie{
    margin: 5%;
}
